[Unit]
Description=Database

[Container]
# Image=registry.example.com/library/postgres:16.4
Image=registry.example.com/library/postgres:17.2
Network=app.network
Volume=db.volume:/var/lib/postgresql/data

[Install]
WantedBy=multi-user.target
